body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    font-family: 'Roboto', Consolas, serif;
    width: 100%;
    position: relative;
}

.footer hr {
    margin: 0 0 10px;
}

.footer {
    margin-top: 15px;
    background-color: #f8f8f8;
    bottom: 0;
}

.footer .fa {
    font-size: 2.5em;
}

.footer .address {
    margin: 0 auto;
}

.footer .social-media a:hover,
.footer .social-media a:focus{
    text-decoration: unset;
}

.login-form {
    margin-top: 97px;
}

nav {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
}

.main-image {
    width: 100%; /* Make the image 100% of the header width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it behaves as a block element */
}

.upper-left-image {

    position: absolute;
    top: 0;
    left: 0;
    width: 25vw; /* Adjust the size as needed */
}

.text-overlay {
    position: absolute;
    top: 19vw;
    left: 0;
    text-align: left;
    transform: translate(0, -50%);
    color: white;
    width: 50%; /* Adjust as needed */
    padding: 2.2vw;
}

.text-overlay h1 {
    font-size: 3vw; /* Adjust as needed */
    margin: 0;
}

.text-overlay p {
    font-size: 1.7vw; /* Adjust as needed */
    margin: 0;
}

/* Nav bar styles*/
#navbar a {
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(50, 50, 50);
    transition: color 0.3s;
}

.navbar-default .navbar-nav > li > a {
    padding: 20px;
}

#navbar {
    background-color: rgb(87, 255, 65);
}
#navbar a::before,
#navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #4C8065;
    transition: width 0.3s;
}
#navbar a::before {
    left: 50%;
}
#navbar a::after {
    right: 50%;
}
#navbar a:hover {
    color: rgb(33,114,84);
}
#navbar a:hover::before,
#navbar a:hover::after {
    width: 50%;
}
#navbar a.current {
    color: rgb(33,114,84);
}

.edit-button-style {
    text-decoration: none;
    color:rgb(128,128,128);
}
/* end */

thead th{
    background-color: #42A362;
    padding: 10px 15px;
    border: 1px solid #d4d4d4;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: forestgreen; /* Set background color to forest green */
    border-radius: 10px; /* Add rounded borders */
    overflow: hidden; /* Hide any content overflowing from rounded corners */
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    text-align: center;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-button-style {
    text-decoration: none;
    color:rgb(128,128,128);
}
/* end */

/* Basic navbar and link styling */
.navbar-collapse .nav a {
    text-decoration: none;
    color: #000;  /* Adjust as needed */
    padding: 5px 10px;
    position: relative;
    transition: color 0.3s;
}

.navbar-collapse .nav a:hover {
    color: #4C8065;  /* Forest Green Color */
}

/* Green line hover effect */
.navbar-collapse .nav a::before,
.navbar-collapse .nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #4C8065;  /* Forest Green Color */
    transition: width 0.3s;
}

.navbar-collapse .nav a::before {
    left: 50%;
}

.navbar-collapse .nav a::after {
    right: 50%;
}

.navbar-collapse .nav a:hover::before,
.navbar-collapse .nav a:hover::after {
    width: 50%;  /* Adjust this value if you want a wider or narrower green line on hover */
}
.navbar {
    /*margin-top: 5px; !* Adjust the margin as needed *!*/
    height: 60px;
}
.navbar-nav > li > a {
    padding-top: 10px; /* Adjust the padding as needed */
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #e6e6e6;
}
tbody td {
    padding: 10px 15px;
    border: 1px solid #d4d4d4;
}

/* Apply button style */
tbody td a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}

tbody td a:hover {
    background-color: #45a049;
}
/* Custom CSS for centering navbar text */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Optional: Adjust spacing between the links */
.navbar-nav > li {
    margin-right: 15px; /* Adjust the margin as needed */
}

th{
    color: #ececc7;
}
#filterButton, #backToPageButton {
    margin-right: 10px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
    width: 27%;
}
#sortOptions{
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 8px 15px;
}
.content{
    background-color: white;
    z-index: 101; /* Higher than overlay */
    position: relative; /* Position relative to the overlay */
    top: 50px; /* Adjust as needed */
    margin: auto;
    padding: 20px;
    width: 80%; /* Adjust width as needed */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
label{
    font-weight: normal;
}
input{
    border: 1px solid #ccc;
    border-radius: 7px;
}
/* Adjustments for overlaying the filter content */
.overlay {
    position: fixed; /* Use fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Initially hidden */
    z-index: 100; /* High z-index to be on top */
}