<include href="views/modules/header.html"></include>

<div class="container">
    <div id ="announcements" class="col-xs-12">
        <div class="col-xs-12 split-top">
            <h2 class="text-center">Announcements</h2>
            <repeat group="{{ @announcements }}" value="{{ @announcement }}">
                <div class='panel panel-success'>
                    <div class='panel-heading'>
                        <strong>{{ @announcement.title }}</strong>
                        <span class='pull-right'><strong>{{ date('M j, Y', strtotime(@announcement.date)) }}</strong></span>
                        <div class='panel-body wrap-text'>
                            {{ @announcement.description }}
                        </div>
                        <check if="{{ @admin != false }}">
                            <true>
                                <a href="/NATRSJB/deleteAnnouncement.php?id={{ @announcement.announcement_number }}">
                                    <span class="glyphicon glyphicon-trash red"></span>
                                </a>
                            </true>
                            <false></false>
                        </check>
                    </div>
                </div>
            </repeat>
        </div>
    </div>
</div>

<include href="views/modules/footer.html"></include>