<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 class="container">Please take a moment to sign my guestbook</h2>
    <form class="container" action="Guestbook.php" method="POST">
        <p>Enter Name: <input placeholder="Enter Your Name" type="text" name="full_name"></p>
        <p>Enter Message: <input placeholder="Enter Your Message" type="text" name="message"></p>
        <p>Enter Personal Address: <input placeholder="Your Web Address" type="text" name="link"</p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>