<?php
    session_start();
?>

<include href="views/modules/header.html"></include>

<script src="scripts/newJobBoard.js"></script>
<div class="container-fluid">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div id="filterButton" onclick="toggleContent()">
            Keyword Filter &#62;
        </div>
        <div class="overlay" id="filterOverlay">
            <div class="content" id="hiddenContent" style="display: none;">
                <br>
                <form>
                    <div class="row">
                        <!-- Employment Types Column -->
                        <div class="col-md-3">
                            <label><strong>Employment Type:</strong></label>
                            <div class="checkbox">
                                <label><input type="checkbox" id="fullTime" name="fullTime" value="Full-Time" onchange="filterTable()"> Full Time</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="partTime" name="partTime" value="Part-Time" onchange="filterTable()"> Part Time</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="internship" name="internship" value="Internship" onchange="filterTable()"> Internship</label>
                            </div>
                        </div>
                        <!-- Location and Industry/Field Column -->
                        <div class="col-md-6">
                            <label><strong>Location:</strong></label>
                            <input type="text" id="location" name="location" placeholder="Enter a Location" oninput="filterTable()" class="form-control">
                            <label><strong>Industry/Field:</strong></label>
                            <input type="text" id="industryField" name="Industry/Field" placeholder="Enter a Field/Industry" oninput="filterTable()" class="form-control">
                        </div>

                        <!-- Date Posted Column -->
                        <div class="col-md-3 text-center">
                            <label for="userDateChoice"><strong>Date Posted:</strong></label>
                            <input type="month" name="userDateChoice" id="userDateChoice" oninput="filterTable()" class="form-control">
                        </div>
                    </div>

                    <!-- Show Filtered Content Button -->
                    <div class="row">
                        <div class="text-center" style="margin-top: 20px;">
                            <button type="button" id="backToPageButton" onclick="toggleContent()" style="margin: auto; display: block;">Show Filtered Content</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
        <select id="sortOptions" onchange="sortTable()">
            <option value="0">Sort by Title</option>
            <option value="1">Sort by Employment Status</option>
            <option value="2">Sort by Company</option>
            <option value="3">Sort by Category</option>
            <option value="4">Sort by Location</option>
            <option value="5">Sort by Date Posted</option>
            <option value="6">Sort by Expiry</option>
            <option value="7">Sort by Permanent Position</option>
            <option value="8">Sort by Internship</option>
            <option value="9">Sort by Paid Job</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="jobs-table">
                    
                    <thead>
                        <tr>
                            <check if="{{ @admin != false }}">
                                <true>
                                    <th>Delete Entry</th>
                                </true>
                                <false>

                                </false>
                            </check>
                            <th>Title</th>
                            <th>Employment Status</th>
                            <th>Company</th>
                            <th>Category</th>
                            <th>Location</th>
                            <th>Date Posted</th>
                            <th>Expires</th>
                            <th>Permanent Position</th>
                            <th>Internship</th>
                            <th>Paid</th>
                            <th>Apply Now</th>
                        </tr>
                    </thead>

                    <tbody>
                        <repeat group="{{ @jobs }}" value="{{ @job }}">
                            <tr>
                                <check if="{{ @admin != false }}">
                                    <true>
                                        <form action="/hideJob" method="post">
                                            <input type="hidden" name="job_number" value="{{ @job.job_number }}">
                                            <button type="submit" style="color: red;">
                                                <i class="fa fa-scissors" aria-hidden="true"></i> Hide Job
                                            </button>
                                        </form>
                                        <td id="delete" class="center-text">
                                            <input type="checkbox" name="selected_jobs[]" value="{{ @job.job_number }}">
                                        </td>
                                    </true>
                                    <false>

                                    </false>
                                </check>
                                <td>{{ @job.job_title }}</td>
                                <td>{{ @job.status }}</td>
                                <td>{{ @job.company_name }}</td>
                                <td>{{ @job.category }}</td>
                                <td>{{ @job.location }}</td>
                                <td>{{ date('M j, Y', strtotime(@job.post_date)) }}</td>
                                <td>{{ date('M j, Y', strtotime(@job.expiration)) }}</td>
                                <td>{{ (@job.permanent == 1) ? "Yes" : "No" }}</td>
                                <td>{{ (@job.internship == 1) ? "Yes" : "No" }}</td>
                                <td>{{ (@job.paid == 1) ? "Yes" : "No" }}</td>

                                <td><a href='{{ @job.url_link }}' class="apply-button" target='_blank'>Apply</a></td>
                                <tfoot>
                            <tr>
                                <td colspan="2">
                                    <!-- Single button outside the loop to hide all selected jobs -->
                                    <button type="submit" style="color: red;">
                                        <i class="fa fa-scissors" aria-hidden="true"></i> Hide Selected Jobs
                                    </button>
                                </td>
                            </tr>
                            </tfoot>

                            </tr>
                        </repeat>
                    </tbody>

                    
                </table>
            </div>
        </div>
    </div>
</div>

<include href="views/modules/footer.html"></include>