<include href="views/modules/header.html"></include>

<div class="container announcement-form">
            <h2 class="text-center">New Announcement</h2>
            <form action="" method="POST">
                <p>Title: <br><input type="text" class="announcement-title" name="title" required></p>
                <p>Description:<br><textarea class="announcement-description" rows="6" name="description" required></textarea></p>
            <!--<p>Applicable Career Track: <input placeholder="Career Track" type="text" name="category"></p>-->
<!--                <div class="checkbox">-->
<!--                    <label><input type="checkbox" name="visibility" value="0"><span>Make it invisible</span></label>-->
<!--                </div>-->
                <p><input type="submit" value="Submit" id="dataEntrySubmitButton"></p>
            </form>
</div>

<include href="views/modules/footer.html"></include>